*
!*/
!.vscode/launch.json
!.vscode/tasks.json
!docker/Dockerfile
!docker/get_url.py
!src/**/*.py
!src/cortex_command_mod_converter_engine/conversion_rules/**/*.json
!src/cortex_command_mod_converter_engine/stylua_executables/linux/stylua
!src/cortex_command_mod_converter_engine/stylua_executables/windows/stylua.exe
!src/ini_copy_of_rules.json
!src/ini_property_rules.json
!src/ini_rules.json
!src/lua_rules.json
!src/**/*.zig
!tests/**/*.ini
!tests/**/*.txt
!tests/**/*.zig
!.gitignore
!build.zig
!example.py
!LICENSE
!pyproject.toml
!README.md
!test.py
!test.zig
