*
!*/
!.vscode/launch.json
!.vscode/tasks.json
!src/old_python_implementation/**/*.py
!src/*.json
!src/main.zig
!stylua_executables/linux/stylua
!stylua_executables/windows/stylua.exe
!submodules/*
!tests/**/*.ini
!tests/**/*.txt
!tests/**/*.lua
!tests/**/*.bmp
!tests/**/*.png
!tests/**/*.wav
!tests/**/*.flac
!.gitignore
!build.zig
!example.py
!LICENSE
!pyproject.toml
!README.md
!test.py
!test.zig
tons_of_mods
